<footer>
    <div>
        <p>
            &copy Copyright 2021 - present. <br>
            Created by Elvis E.
            <span> <br>
                <a href="https://github.com/elvisEspinozaN/myFlight">Github</a>
            </span>
        </p>
    </div>
</footer>