<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/header.ejs') %>
    <main class="container">
        <div class="">
            <div class="">
                <div class="">
                    <h3>myFlight,</h3>
                    <h4>a flight booking application!</h4>
                    <div class="">
                        <p>a quick description of myFlight... todo</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>