<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <div class="wrapper">
        <%- include('./partials/header.ejs') %>
        <main>
            <div class="home-page">
                <div class="block">
                    <h1>myFlight</h1>
                    <p class="intro">
                        Discover Available Flights!
                        From Anywhere You Wish for, That Suits Your Budget.
                        Providing Air Transportation For All Passengers.
                    </p>
                    <p>I also send a well-received email newsletter.</p>
                    <a href="/" class="button">Subscribe here</a>
                </div>
                <div class="block">
                    <img src=""
                        alt="myFlight Home Image">
                </div>
            </div>
        </main>
    </div>
    <!-- <main>
        <div class="home-page">
            <div class="block">
                <h1>myFlight</12>
                    <p class="intro">
                        Discover Available Flights!
                        From Anywhere You Wish for, That Suits Your Budget.
                        Providing Air Transportation For All Passengers.
                    </p>
                    <p>I also send a well-received email newsletter.</p>
                    <a href="/" class="button">Subscribe here</a>
            </div>
            <div class="block">
                <img id="homeimg"
                    src="https://media.istockphoto.com/photos/passenger-airplane-flying-above-clouds-during-sunset-picture-id155439315?k=20&m=155439315&s=612x612&w=0&h=BvXCpRLaP5h1NnvyYI_2iRtSM0Xsz2jQhAmZ7nA7abA="
                    alt="myFlight Home Image">
            </div>
        </div>
    </main> -->
    <%- include('./partials/footer.ejs') %>
</body>

</html>