<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/header.ejs') %>
    <main class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card">
                    <h2 class="card-title text-center">Register</h2>
                    <div class="card-body py-md-4">
                        <form action='/signup' method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control" name="firstName" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="lastName" placeholder="Last Name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="Password">
                            </div>
                            <div class="d-flex flex-row align-items-center justify-content-between">
                                <input class="btn btn-primary" type="submit" value="Signup" name="" id="">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>