*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer{
    background-color: gray;
    padding: 45px 0 20px;
    display: grid;
    justify-content: center;
    font-size: 13px;
    text-align: center;
    width: 100%;
    margin-top: auto;
}